.nav {
  a {
    margin: 0 20px;
    color: white;
    font-weight: 600;
  }

  .active {
    color: black;
  }
}

.skip-to-main {
  margin-left: 10px;
  a {
    color: red;
  }
  button {
    cursor: pointer;
  }
}

main {
  margin-top: 20px;
}


