.skip-button {
  position: absolute;
  padding: 10px;
  top: 0;
  left: 0;
  background-color: rgb(196, 90, 90);
  color: #fff;
  cursor: pointer;
  // display: none;

  // &:focus {
  //   display: block;;
  // }
}


.example-focus-monitor {
  padding: 20px;
  // opacity: 0;
  position: absolute;
  padding: 10px;
  top: 0;
  left: 0;
 
}

.example-focus-monitor .cdk-mouse-focused {
  background: rgba(255, 0, 0, 0.5);
}

.example-focus-monitor .cdk-keyboard-focused {
  background: rgba(255, 0, 0, 0.5);
  opacity: 1;
}

.example-focus-monitor .cdk-touch-focused {
  background: rgba(0, 0, 255, 0.5);
}

.example-focus-monitor .cdk-program-focused {
  background: rgba(255, 0, 255, 0.5);
}



